﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Search.aspx.cs" Inherits="Marketing_VIP.WebForm1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div>
            <table style="height:auto; width:auto">
                <tr>
                    <td>
                        <asp:Label runat="server" Text="Account Number:" ID="acctNUmLB" ></asp:Label>
                    </td>
                     <td>
                         <asp:TextBox runat="server" ID="acctNumTB" Text=" " ></asp:TextBox>
                    </td>
                </tr>
                <tr>
                    <td>
                        <asp:Label ID="EndingMilesLB" runat="server" Text="Max Miles:"></asp:Label>
                    </td>
                    <td>
                        <asp:TextBox ID="edningTb" runat="server" Text=" "></asp:TextBox>
                    </td>
                </tr>
                <tr>
                    <td>
                        <asp:Label ID="startMiles" runat="server" Text=" or Zipcode"></asp:Label>
                        
                    </td>
                    <td>
                        <asp:TextBox ID="startingTB" runat="server" Text=" "></asp:TextBox>
                    </td>
                </tr>
                 <tr>
                    <td>
                        <asp:Button ID="enterBut" Text="Submit" runat="server" OnClick="enterBut_Click" />
                    </td>
                     <td>

                    </td>
                </tr>
                
                 <tr>
                    <td rowspan="2" colspan="2">
                   <asp:GridView runat="server" ID="clietnGV" AlternatingRowStyle-BorderColor="Yellow"></asp:GridView>                    </td>
                    
                </tr>
                
            </table>
    </div>
</asp:Content>
